USE [master]
GO
/****** Object:  Database [TKB_TNUT]    Script Date: 14/04/2025 5:42:02 CH ******/
CREATE DATABASE [TKB_TNUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TKB_TNUT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSV\MSSQL\DATA\TKB_TNUT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TKB_TNUT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSV\MSSQL\DATA\TKB_TNUT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKB_TNUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKB_TNUT]
GO
/****** Object:  Table [dbo].[GV]    Script Date: 14/04/2025 5:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[TenGV] [nvarchar](100) NULL,
 CONSTRAINT [PK__GV__2725AEF30BBF2CD1] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH]    Script Date: 14/04/2025 5:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH](
	[MaLich] [tinyint] IDENTITY(1,1) NOT NULL,
	[Thu] [tinyint] NULL,
	[SoTiet] [tinyint] NULL,
	[TietBD] [tinyint] NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[MaGV] [int] NULL,
	[MaLop] [int] NULL,
	[MaMon] [int] NULL,
	[MaPhong] [int] NULL,
	[Ngay] [date] NULL,
 CONSTRAINT [PK__LICH__728A9AE99EEBB564] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 14/04/2025 5:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK__LOP__3B98D273C222AF35] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 14/04/2025 5:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
 CONSTRAINT [PK__MON__3A5B29A8410BA645] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 14/04/2025 5:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
 CONSTRAINT [PK__PHONG__20BD5E5B303EF422] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GV] ON 

INSERT [dbo].[GV] ([MaGV], [TenGV]) VALUES (35, N'Đ.T.Hiên  ')
INSERT [dbo].[GV] ([MaGV], [TenGV]) VALUES (36, N'N.V.Huy  ')
INSERT [dbo].[GV] ([MaGV], [TenGV]) VALUES (37, N'N.T.Hương  ')
SET IDENTITY_INSERT [dbo].[GV] OFF
GO
SET IDENTITY_INSERT [dbo].[LICH] ON 

INSERT [dbo].[LICH] ([MaLich], [Thu], [SoTiet], [TietBD], [GioVao], [GioRa], [MaGV], [MaLop], [MaMon], [MaPhong], [Ngay]) VALUES (3, 2, 2, 2, CAST(N'07:55:00' AS Time), CAST(N'10:35:00' AS Time), 35, 1, 1, 1, CAST(N'2025-04-14' AS Date))
INSERT [dbo].[LICH] ([MaLich], [Thu], [SoTiet], [TietBD], [GioVao], [GioRa], [MaGV], [MaLop], [MaMon], [MaPhong], [Ngay]) VALUES (4, 2, 2, 3, CAST(N'09:20:00' AS Time), CAST(N'12:00:00' AS Time), 36, 2, 2, 2, CAST(N'2025-04-14' AS Date))
INSERT [dbo].[LICH] ([MaLich], [Thu], [SoTiet], [TietBD], [GioVao], [GioRa], [MaGV], [MaLop], [MaMon], [MaPhong], [Ngay]) VALUES (5, 2, 2, 5, CAST(N'12:30:00' AS Time), CAST(N'15:10:00' AS Time), 37, 3, 1, 3, CAST(N'2025-04-14' AS Date))
SET IDENTITY_INSERT [dbo].[LICH] OFF
GO
SET IDENTITY_INSERT [dbo].[LOP] ON 

INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (1, N'60CNTDH3')
INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (2, N'58KTP')
INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (3, N'60CNTDH2')
SET IDENTITY_INSERT [dbo].[LOP] OFF
GO
SET IDENTITY_INSERT [dbo].[MON] ON 

INSERT [dbo].[MON] ([MaMon], [TenMon]) VALUES (1, N'Tin học trong kỹ thuật')
INSERT [dbo].[MON] ([MaMon], [TenMon]) VALUES (2, N'Lập trình Python')
INSERT [dbo].[MON] ([MaMon], [TenMon]) VALUES (3, N'Kiến trúc máy tính')
SET IDENTITY_INSERT [dbo].[MON] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MaPhong], [TenPhong]) VALUES (1, N'A9-201')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong]) VALUES (2, N'A9-204')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong]) VALUES (3, N'A10-101')
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK__LICH__MaGV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GV] ([MaGV])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK__LICH__MaGV]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK__LICH__MaLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK__LICH__MaLop]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK__LICH__MaMon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK__LICH__MaMon]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK__LICH__MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK__LICH__MaPhong]
GO
USE [master]
GO
